.Welcome{
    width: 100%;
    text-align: center;
    font-size:1.2em ;
    padding: 0.6%;
}
.end-greeting {
    text-align: center;
    font-weight: bold;
    font-size: 2.3em;
}
.Locationimage{
    display: inline-block;
    width: 50%;
    height: auto;

    padding-bottom: 5%;
    margin-left: 10%;

}

.Location-text{
    display: inline-block;

    vertical-align: top;
    font-size: 1.2em;
    padding-left: 10%;
}
.booking {
    padding: 0 25%;
    font-size: 1.2em;
    margin-bottom: 2%;
}
.Date, .Time {
    padding-left: 8%;
}
.NOV{
    padding-left: 2%;
}
.legendbooking{
    font-weight: bold;
    font-size: 1.5em;
}
.submit {
    padding-left: 10%;
    display: inline-block;
   
}
.reset{
    padding-left: 4%;
    display: inline-block;
}
#NOV{
    
     width: 2%;
}
#DDate {
    width: 15%;
}
#message {
    padding-left:23%;
    padding-bottom: 1%;
    font-size: 0.95em;
}